.jumbotron{
	background-color: red;
	color: black;
        margin-top: 50px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: red;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-futbol{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-elegir{
	width:100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}